In [4]:
import os
import pandas as pd

In [5]:
datas = [x for x in os.listdir() if "results_" in x and ".xlsx" in x]
datas
datas = ["results v02.xlsx", "all_results.xlsx"]

In [6]:
dfs = []
for data in datas:
    dfs.append(pd.read_excel(data, index_col=0, header=[0,1]))

all_data = pd.concat(dfs, ignore_index=True)

In [7]:
all_data[all_data[("Graph", "name")] == "graphs/0004_250.graphml"]

                        Graph              Exhaustive                  \
                         name  n  m weight       #ops      time #sols
177   graphs/0004_250.graphml  4  1   13.0       70.0  0.000023  16.0
178   graphs/0004_250.graphml  4  1   13.0       70.0  0.000023  16.0
179   graphs/0004_250.graphml  4  1   13.0       70.0  0.000023  16.0
180   graphs/0004_250.graphml  4  1   13.0       70.0  0.000023  16.0
181   graphs/0004_250.graphml  4  1   13.0       70.0  0.000023  16.0
182   graphs/0004_250.graphml  4  1   13.0       70.0  0.000023  16.0
183   graphs/0004_250.graphml  4  1   13.0       70.0  0.000023  16.0
184   graphs/0004_250.graphml  4  1   13.0       70.0  0.000023  16.0
185   graphs/0004_250.graphml  4  1   13.0       70.0  0.000023  16.0
2927  graphs/0004_250.graphml  4  1   13.0       70.0  0.000023  16.0
2928  graphs/0004_250.graphml  4  1   13.0       70.0  0.000023  16.0
2929  graphs/0004_250.graphml  4  1   13.0       70.0  0.000023  16.0
2930  graphs/0004_250.graphml  4  1   13.0       70.0  0.000023  16.0
2931  graphs/0004_250.graphml  4  1   13.0       70.0  0.000023  16.0
2932  graphs/0004_250.graphml  4  1   13.0       70.0  0.000023  16.0
2933  graphs/0004_250.graphml  4  1   13.0       70.0  0.000023  16.0
2934  graphs/0004_250.graphml  4  1   13.0       70.0  0.000023  16.0
2935  graphs/0004_250.graphml  4  1   13.0       70.0  0.000023  16.0
2936  graphs/0004_250.graphml  4  1   13.0       70.0  0.000023  16.0

     Heuristic                  ... Random Solutions (MS: 100)            \
          #ops      time #sols  ...                       #ops      time
177         28  0.000008     1  ...                        NaN       NaN
178         28  0.000008     1  ...                        NaN       NaN
179         28  0.000008     1  ...                        NaN       NaN
180         28  0.000008     1  ...                        NaN       NaN
181         28  0.000008     1  ...                        NaN       NaN
182         28  0.000008     1  ...                        NaN       NaN
183         28  0.000008     1  ...                        NaN       NaN
184         28  0.000008     1  ...                        NaN       NaN
185         28  0.000008     1  ...                        NaN       NaN
2927        28  0.000008     1  ...                        NaN       NaN
2928        28  0.000008     1  ...                      238.0  0.000128
2929        28  0.000008     1  ...                        NaN       NaN
2930        28  0.000008     1  ...                        NaN       NaN
2931        28  0.000008     1  ...                      242.0  0.000126
2932        28  0.000008     1  ...                        NaN       NaN
2933        28  0.000008     1  ...                        NaN       NaN
2934        28  0.000008     1  ...                        NaN       NaN
2935        28  0.000008     1  ...                        NaN       NaN
2936        28  0.000008     1  ...                      242.0  0.000128

                                 Simulated Annealing (T: 1000, CR: 0.9)  \
     #sols prec.   it. prec./it.                                   #ops
177    NaN   NaN   NaN       NaN                                    NaN
178    NaN   NaN   NaN       NaN                                    NaN
179    NaN   NaN   NaN       NaN                                    NaN
180    NaN   NaN   NaN       NaN                                    NaN
181    NaN   NaN   NaN       NaN                                    NaN
182    NaN   NaN   NaN       NaN                                    NaN
183    NaN   NaN   NaN       NaN                                    NaN
184    NaN   NaN   NaN       NaN                                    NaN
185    NaN   NaN   NaN       NaN                                    NaN
2927   NaN   NaN   NaN       NaN                                    NaN
2928  16.0   1.0  51.0  0.156863                                  691.0
2929   NaN   NaN   NaN       NaN                                    NaN
2930   NaN   NaN   NaN       NaN                                    NaN
2931  16.0   1.0  52.0  0.153846                                  685.0
2932   NaN   NaN   NaN       NaN                                    NaN
2933   NaN   NaN   NaN       NaN                                    NaN
2934   NaN   NaN   NaN       NaN                                    NaN
2935   NaN   NaN   NaN       NaN                                    NaN
2936  16.0   1.0  52.0  0.153846                                  676.0


          time  #sols prec.
177        NaN    NaN   NaN
178        NaN    NaN   NaN
179        NaN    NaN   NaN
180        NaN    NaN   NaN
181        NaN    NaN   NaN
182        NaN    NaN   NaN
183        NaN    NaN   NaN
184        NaN    NaN   NaN
185        NaN    NaN   NaN
2927       NaN    NaN   NaN
2928  0.000224  133.0   1.0
2929       NaN    NaN   NaN
2930       NaN    NaN   NaN
2931  0.000214  133.0   1.0
2932       NaN    NaN   NaN
2933       NaN    NaN   NaN
2934       NaN    NaN   NaN
2935       NaN    NaN   NaN
2936  0.000208  133.0   1.0

[19 rows x 53 columns]

In [8]:
all_data

                        Graph                      Exhaustive             \
                         name    n      m   weight       #ops time #sols
0        graphs (gset)/G1.txt  800  19176  11624.0        NaN  NaN   NaN
1        graphs (gset)/G1.txt  800  19176  11624.0        NaN  NaN   NaN
2        graphs (gset)/G1.txt  800  19176  11624.0        NaN  NaN   NaN
3       graphs (gset)/G10.txt  800  19176   2000.0        NaN  NaN   NaN
4       graphs (gset)/G10.txt  800  19176   2000.0        NaN  NaN   NaN
...                       ...  ...    ...      ...        ...  ...   ...
5512  graphs/0500_750.graphml  500  93562      NaN        NaN  NaN   NaN
5513  graphs/0500_750.graphml  500  93562      NaN        NaN  NaN   NaN
5514  graphs/0500_750.graphml  500  93562      NaN        NaN  NaN   NaN
5515  graphs/0500_750.graphml  500  93562      NaN        NaN  NaN   NaN
5516  graphs/0500_750.graphml  500  93562      NaN        NaN  NaN   NaN

     Heuristic                  ... Random Solutions (MS: 100)            \
          #ops      time #sols  ...                       #ops      time
0      6225342  0.141065     1  ...                        NaN       NaN
1      6225342  0.141065     1  ...                        NaN       NaN
2      6225342  0.141065     1  ...                        NaN       NaN
3      6230142  0.141909     1  ...                        NaN       NaN
4      6230142  0.141909     1  ...                        NaN       NaN
...        ...       ...   ...  ...                        ...       ...
5512   2184238  0.068391     1  ...                  9406312.0  0.702346
5513   2184238  0.068391     1  ...                        NaN       NaN
5514   2184238  0.068391     1  ...                        NaN       NaN
5515   2184238  0.068391     1  ...                  9406312.0  0.631096
5516   2184238  0.068391     1  ...                        NaN       NaN

                                   Simulated Annealing (T: 1000, CR: 0.9)  \
      #sols prec.    it. prec./it.                                   #ops
0       NaN   NaN    NaN       NaN                                    NaN
1       NaN   NaN    NaN       NaN                                    NaN
2       NaN   NaN    NaN       NaN                                    NaN
3       NaN   NaN    NaN       NaN                                    NaN
4       NaN   NaN    NaN       NaN                                    NaN
...     ...   ...    ...       ...                                    ...
5512  100.0   NaN  100.0       NaN                             12445066.0
5513    NaN   NaN    NaN       NaN                                    NaN
5514    NaN   NaN    NaN       NaN                                    NaN
5515  100.0   NaN  100.0       NaN                             12445118.0
5516    NaN   NaN    NaN       NaN                                    NaN


          time  #sols prec.
0          NaN    NaN   NaN
1          NaN    NaN   NaN
2          NaN    NaN   NaN
3          NaN    NaN   NaN
4          NaN    NaN   NaN
...        ...    ...   ...
5512  0.864685  133.0   NaN
5513       NaN    NaN   NaN
5514       NaN    NaN   NaN
5515  0.822311  133.0   NaN
5516       NaN    NaN   NaN

[5517 rows x 53 columns]

In [9]:
df = all_data.sort_values(by=("Graph", "name"), ascending=True)
df = df.reset_index(drop=True)
df.to_excel("all_results1.xlsx")