In [1]:
import pandas as pd

In [11]:
df = pd.read_excel("01results.xlsx", index_col=0, header=[0,1])
df

                       Graph                Exhaustive            \
                        name      n      m #operations exec_time
0    graphs/0004_125.graphml      4      0        68.0  0.000024
1    graphs/0004_250.graphml      4      1        70.0  0.000023
2    graphs/0004_500.graphml      4      3        74.0  0.000026
3    graphs/0004_750.graphml      4      4        72.0  0.000023
4    graphs/0005_125.graphml      5      1       199.0  0.000058
..                       ...    ...    ...         ...       ...
324                  gset/G7    800  19176         NaN       NaN
325                 gset/G70  10000   9999         NaN       NaN
326                 gset/G72  10000  20000         NaN       NaN
327                  gset/G8    800  19176         NaN       NaN
328                  gset/G9    800  19176         NaN       NaN

                        Heuristic                              greedy_prec
    #solutions tested #operations  exec_time #solutions tested
0                16.0          28   0.000007                 1    1.000000
1                16.0          28   0.000008                 1    1.000000
2                16.0          29   0.000009                 1    1.000000
3                16.0          29   0.000008                 1    1.000000
4                32.0          53   0.000009                 1    1.000000
..                ...         ...        ...               ...         ...
324               NaN     6224765   0.143155                 1    0.132104
325               NaN  1324406540  25.946424                 1    0.869565
326               NaN  1324879857  26.921012                 1    0.516985
327               NaN     6223580   0.144396                 1    0.170574
328               NaN     6228653   0.140115                 1    0.209834

[329 rows x 10 columns]

In [12]:
def heuristic_greedy(G):
    num_vertices = len(G)
    
    # Step 1: Extract edges and their weights
    edges = []
    for i in range(num_vertices):
        for j in range(i + 1, num_vertices):  # To avoid duplicate edges
            weight = G[i, j]
            edges.append((i, j, weight))

    # Step 2: Sort edges in descending order based on their weights
    edges.sort(key=lambda e: e[2], reverse=True)
    
    seen, S, T = set(), set(), set()

    cut_weight = 0
    # Step 3: Process each edge
    for u, v, weight in edges:
        if u not in seen and v not in seen: 
            # nenhum vertice visto
            cut_weight += weight
            seen.update({u,v})
            S.add(u)
            T.add(v)
        elif u in S and v not in seen:
            # u no primeiro set, v não visto
            cut_weight += weight
            seen.add(v)
            T.add(v)
        elif u in T and v not in seen:
            # u no segundo set, v não visto
            cut_weight += weight
            seen.add(v)
            S.add(v)
        elif v in S and u not in seen:
            # v no primeiro set, u não visto
            cut_weight += weight
            seen.add(u)
            T.add(u)
        elif v in T and u not in seen:
            # v no segundo set, u não visto
            cut_weight += weight
            seen.add(u)
            S.add(u)
        elif v in T and u in S:
            cut_weight += weight
        elif v in S and u in T:
            cut_weight += weight
        # v and u in the same set

    return S, T, cut_weight

In [17]:
import networkx as nx
import numpy as np
cut_weightssss = []
for graph in df[("Graph", "name")]:
    try:
        G = nx.adjacency_matrix(nx.read_graphml(graph)).todense()
    except:
        graph = graph.replace("gset", "graphs (gset)")
        with open(f"{graph}.txt", 'r') as file:
            first_line = file.readline().split()
            G = np.zeros((int(first_line[0]),int(first_line[0])))
            for line in file:
                i,j,w = line.strip().split(" ")
                G[int(i)-1, int(j)-1] = int(w)
                G[int(j)-1, int(i)-1] = int(w)
    S, T, cut_weight = heuristic_greedy(G)
    cut_weightssss.append(cut_weight)
df["greedy_result", ""] = cut_weightssss

df

                       Graph                Exhaustive            \
                        name      n      m #operations exec_time
0    graphs/0004_125.graphml      4      0        68.0  0.000024
1    graphs/0004_250.graphml      4      1        70.0  0.000023
2    graphs/0004_500.graphml      4      3        74.0  0.000026
3    graphs/0004_750.graphml      4      4        72.0  0.000023
4    graphs/0005_125.graphml      5      1       199.0  0.000058
..                       ...    ...    ...         ...       ...
324                  gset/G7    800  19176         NaN       NaN
325                 gset/G70  10000   9999         NaN       NaN
326                 gset/G72  10000  20000         NaN       NaN
327                  gset/G8    800  19176         NaN       NaN
328                  gset/G9    800  19176         NaN       NaN

                        Heuristic                              greedy_prec  \
    #solutions tested #operations  exec_time #solutions tested
0                16.0          28   0.000007                 1    1.000000
1                16.0          28   0.000008                 1    1.000000
2                16.0          29   0.000009                 1    1.000000
3                16.0          29   0.000008                 1    1.000000
4                32.0          53   0.000009                 1    1.000000
..                ...         ...        ...               ...         ...
324               NaN     6224765   0.143155                 1    0.132104
325               NaN  1324406540  25.946424                 1    0.869565
326               NaN  1324879857  26.921012                 1    0.516985
327               NaN     6223580   0.144396                 1    0.170574
328               NaN     6228653   0.140115                 1    0.209834

    greedy_result

0             0.0
1            13.0
2            38.0
3            36.0
4            18.0
..            ...
324         265.0
325        8340.0
326        3622.0
327         342.0
328         431.0

[329 rows x 11 columns]

In [51]:
df.to_excel("01results02.xlsx")

In [55]:
df = pd.read_excel("01results02.xlsx", index_col=0, header=[0,1])

In [56]:
df

                       Graph                         Heuristic             \
                        name      n      m  weight #operations  exec_time
0    graphs/0004_125.graphml      4      0     0.0          28   0.000007
1    graphs/0004_250.graphml      4      1    13.0          28   0.000008
2    graphs/0004_500.graphml      4      3    38.0          29   0.000009
3    graphs/0004_750.graphml      4      4    36.0          29   0.000008
4    graphs/0005_125.graphml      5      1    18.0          53   0.000009
..                       ...    ...    ...     ...         ...        ...
324     graphs (gset)/G7.txt    800  19176  2006.0     6224765   0.143155
325    graphs (gset)/G70.txt  10000   9999  9591.0  1324406540  25.946424
326    graphs (gset)/G72.txt  10000  20000  7006.0  1324879857  26.921012
327     graphs (gset)/G8.txt    800  19176  2005.0     6223580   0.144396
328     graphs (gset)/G9.txt    800  19176  2054.0     6228653   0.140115


    #solutions tested
0                   1  1.000000
1                   1  1.000000
2                   1  1.000000
3                   1  1.000000
4                   1  1.000000
..                ...       ...
324                 1  0.132104
325                 1  0.869565
326                 1  0.516985
327                 1  0.170574
328                 1  0.209834

[329 rows x 8 columns]

In [54]:
df[("Graph", "weight")] = df[("greedy_result", "Unnamed: 11_level_1")] / df[("greedy_prec", " ")]

KeyError: ('greedy_result', 'Unnamed: 11_level_1')

In [ ]:
df # confrimar com grafos Gset CERTO

                       Graph                Exhaustive            \
                        name      n      m #operations exec_time
0    graphs/0004_125.graphml      4      0        68.0  0.000024
1    graphs/0004_250.graphml      4      1        70.0  0.000023
2    graphs/0004_500.graphml      4      3        74.0  0.000026
3    graphs/0004_750.graphml      4      4        72.0  0.000023
4    graphs/0005_125.graphml      5      1       199.0  0.000058
..                       ...    ...    ...         ...       ...
324                  gset/G7    800  19176         NaN       NaN
325                 gset/G70  10000   9999         NaN       NaN
326                 gset/G72  10000  20000         NaN       NaN
327                  gset/G8    800  19176         NaN       NaN
328                  gset/G9    800  19176         NaN       NaN

                        Heuristic                              greedy_prec  \
    #solutions tested #operations  exec_time #solutions tested
0                16.0          28   0.000007                 1    1.000000
1                16.0          28   0.000008                 1    1.000000
2                16.0          29   0.000009                 1    1.000000
3                16.0          29   0.000008                 1    1.000000
4                32.0          53   0.000009                 1    1.000000
..                ...         ...        ...               ...         ...
324               NaN     6224765   0.143155                 1    0.132104
325               NaN  1324406540  25.946424                 1    0.869565
326               NaN  1324879857  26.921012                 1    0.516985
327               NaN     6223580   0.144396                 1    0.170574
328               NaN     6228653   0.140115                 1    0.209834

          greedy_result   Graph
    Unnamed: 11_level_1  weight
0                     0     0.0
1                    13    13.0
2                    38    38.0
3                    36    36.0
4                    18    18.0
..                  ...     ...
324                 265  2006.0
325                8340  9591.0
326                3622  7006.0
327                 342  2005.0
328                 431  2054.0

[329 rows x 12 columns]

In [ ]:
df_filtered = df.loc[:, (df.columns.get_level_values(0) != "greedy_result")]
df_filtered[("Heuristic", " ")] = df_filtered[("greedy_prec", " ")]
df_filtered

/var/folders/sz/96b_h5gn3y33k0c7jsvrstmm0000gn/T/ipykernel_10139/3929903673.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered[("Heuristic", " ")] = df_filtered[("greedy_prec", " ")]

                       Graph                 Heuristic             \
                        name      n      m #operations  exec_time
0    graphs/0004_125.graphml      4      0          28   0.000007
1    graphs/0004_250.graphml      4      1          28   0.000008
2    graphs/0004_500.graphml      4      3          29   0.000009
3    graphs/0004_750.graphml      4      4          29   0.000008
4    graphs/0005_125.graphml      5      1          53   0.000009
..                       ...    ...    ...         ...        ...
324                  gset/G7    800  19176     6224765   0.143155
325                 gset/G70  10000   9999  1324406540  25.946424
326                 gset/G72  10000  20000  1324879857  26.921012
327                  gset/G8    800  19176     6223580   0.144396
328                  gset/G9    800  19176     6228653   0.140115

                      greedy_prec   Graph Heuristic
    #solutions tested              weight
0                   1    1.000000     0.0  1.000000
1                   1    1.000000    13.0  1.000000
2                   1    1.000000    38.0  1.000000
3                   1    1.000000    36.0  1.000000
4                   1    1.000000    18.0  1.000000
..                ...         ...     ...       ...
324                 1    0.132104  2006.0  0.132104
325                 1    0.869565  9591.0  0.869565
326                 1    0.516985  7006.0  0.516985
327                 1    0.170574  2005.0  0.170574
328                 1    0.209834  2054.0  0.209834

[329 rows x 9 columns]

In [ ]:
df_filtered = df_filtered.loc[:, (df_filtered.columns.get_level_values(0) != "greedy_prec")]

In [ ]:
df_filtered

                       Graph                 Heuristic             \
                        name      n      m #operations  exec_time
0    graphs/0004_125.graphml      4      0          28   0.000007
1    graphs/0004_250.graphml      4      1          28   0.000008
2    graphs/0004_500.graphml      4      3          29   0.000009
3    graphs/0004_750.graphml      4      4          29   0.000008
4    graphs/0005_125.graphml      5      1          53   0.000009
..                       ...    ...    ...         ...        ...
324                  gset/G7    800  19176     6224765   0.143155
325                 gset/G70  10000   9999  1324406540  25.946424
326                 gset/G72  10000  20000  1324879857  26.921012
327                  gset/G8    800  19176     6223580   0.144396
328                  gset/G9    800  19176     6228653   0.140115

                        Graph Heuristic
    #solutions tested  weight
0                   1     0.0  1.000000
1                   1    13.0  1.000000
2                   1    38.0  1.000000
3                   1    36.0  1.000000
4                   1    18.0  1.000000
..                ...     ...       ...
324                 1  2006.0  0.132104
325                 1  9591.0  0.869565
326                 1  7006.0  0.516985
327                 1  2005.0  0.170574
328                 1  2054.0  0.209834

[329 rows x 8 columns]

In [ ]:
df_sorted = df_filtered[sorted(df_filtered.columns, key=lambda x: x[0])]

In [ ]:
df_sorted

                       Graph                         Heuristic             \
                        name      n      m  weight #operations  exec_time
0    graphs/0004_125.graphml      4      0     0.0          28   0.000007
1    graphs/0004_250.graphml      4      1    13.0          28   0.000008
2    graphs/0004_500.graphml      4      3    38.0          29   0.000009
3    graphs/0004_750.graphml      4      4    36.0          29   0.000008
4    graphs/0005_125.graphml      5      1    18.0          53   0.000009
..                       ...    ...    ...     ...         ...        ...
324                  gset/G7    800  19176  2006.0     6224765   0.143155
325                 gset/G70  10000   9999  9591.0  1324406540  25.946424
326                 gset/G72  10000  20000  7006.0  1324879857  26.921012
327                  gset/G8    800  19176  2005.0     6223580   0.144396
328                  gset/G9    800  19176  2054.0     6228653   0.140115


    #solutions tested
0                   1  1.000000
1                   1  1.000000
2                   1  1.000000
3                   1  1.000000
4                   1  1.000000
..                ...       ...
324                 1  0.132104
325                 1  0.869565
326                 1  0.516985
327                 1  0.170574
328                 1  0.209834

[329 rows x 8 columns]

In [ ]:
df = df_sorted.copy()

In [ ]:
df

                       Graph                         Heuristic             \
                        name      n      m  weight #operations  exec_time
0    graphs/0004_125.graphml      4      0     0.0          28   0.000007
1    graphs/0004_250.graphml      4      1    13.0          28   0.000008
2    graphs/0004_500.graphml      4      3    38.0          29   0.000009
3    graphs/0004_750.graphml      4      4    36.0          29   0.000008
4    graphs/0005_125.graphml      5      1    18.0          53   0.000009
..                       ...    ...    ...     ...         ...        ...
324                  gset/G7    800  19176  2006.0     6224765   0.143155
325                 gset/G70  10000   9999  9591.0  1324406540  25.946424
326                 gset/G72  10000  20000  7006.0  1324879857  26.921012
327                  gset/G8    800  19176  2005.0     6223580   0.144396
328                  gset/G9    800  19176  2054.0     6228653   0.140115


    #solutions tested
0                   1  1.000000
1                   1  1.000000
2                   1  1.000000
3                   1  1.000000
4                   1  1.000000
..                ...       ...
324                 1  0.132104
325                 1  0.869565
326                 1  0.516985
327                 1  0.170574
328                 1  0.209834

[329 rows x 8 columns]

In [ ]:
def nameG(x):
    if "gset" in x:
        x = x.replace("gset", "graphs (gset)")
        x += ".txt"
    return x

df[("Graph", "name")] = df[("Graph", "name")].apply(nameG)
df

                       Graph                         Heuristic             \
                        name      n      m  weight #operations  exec_time
0    graphs/0004_125.graphml      4      0     0.0          28   0.000007
1    graphs/0004_250.graphml      4      1    13.0          28   0.000008
2    graphs/0004_500.graphml      4      3    38.0          29   0.000009
3    graphs/0004_750.graphml      4      4    36.0          29   0.000008
4    graphs/0005_125.graphml      5      1    18.0          53   0.000009
..                       ...    ...    ...     ...         ...        ...
324     graphs (gset)/G7.txt    800  19176  2006.0     6224765   0.143155
325    graphs (gset)/G70.txt  10000   9999  9591.0  1324406540  25.946424
326    graphs (gset)/G72.txt  10000  20000  7006.0  1324879857  26.921012
327     graphs (gset)/G8.txt    800  19176  2005.0     6223580   0.144396
328     graphs (gset)/G9.txt    800  19176  2054.0     6228653   0.140115


    #solutions tested
0                   1  1.000000
1                   1  1.000000
2                   1  1.000000
3                   1  1.000000
4                   1  1.000000
..                ...       ...
324                 1  0.132104
325                 1  0.869565
326                 1  0.516985
327                 1  0.170574
328                 1  0.209834

[329 rows x 8 columns]

In [ ]:
#df.to_excel("01results03.xlsx")

In [57]:
df = pd.read_excel("01results03.xlsx", index_col=0, header=[0,1])
df

                       Graph                         Heuristic             \
                        name      n      m  weight #operations  exec_time
0    graphs/0004_125.graphml      4      0     0.0          28   0.000007
1    graphs/0004_250.graphml      4      1    13.0          28   0.000008
2    graphs/0004_500.graphml      4      3    38.0          29   0.000009
3    graphs/0004_750.graphml      4      4    36.0          29   0.000008
4    graphs/0005_125.graphml      5      1    18.0          53   0.000009
..                       ...    ...    ...     ...         ...        ...
324     graphs (gset)/G7.txt    800  19176  2006.0     6224765   0.143155
325    graphs (gset)/G70.txt  10000   9999  9591.0  1324406540  25.946424
326    graphs (gset)/G72.txt  10000  20000  7006.0  1324879857  26.921012
327     graphs (gset)/G8.txt    800  19176  2005.0     6223580   0.144396
328     graphs (gset)/G9.txt    800  19176  2054.0     6228653   0.140115


    #solutions tested
0                   1  1.000000
1                   1  1.000000
2                   1  1.000000
3                   1  1.000000
4                   1  1.000000
..                ...       ...
324                 1  0.132104
325                 1  0.869565
326                 1  0.516985
327                 1  0.170574
328                 1  0.209834

[329 rows x 8 columns]

In [77]:
dfE = pd.read_excel("results.xlsx", index_col=0, header=[0,1])

In [78]:
dfE

                       Graph                       Exhaustive                  \
                        name      n      m  weight       #ops      time #sols
0    graphs/0004_125.graphml      4      0     0.0       68.0  0.000024  16.0
1    graphs/0004_250.graphml      4      1    13.0       70.0  0.000023  16.0
2    graphs/0004_500.graphml      4      3    38.0       74.0  0.000026  16.0
3    graphs/0004_750.graphml      4      4    36.0       72.0  0.000023  16.0
4    graphs/0005_125.graphml      5      1    18.0      199.0  0.000058  32.0
..                       ...    ...    ...     ...        ...       ...   ...
324     graphs (gset)/G7.txt    800  19176  2006.0        NaN       NaN   NaN
325    graphs (gset)/G70.txt  10000   9999  9591.0        NaN       NaN   NaN
326    graphs (gset)/G72.txt  10000  20000  7006.0        NaN       NaN   NaN
327     graphs (gset)/G8.txt    800  19176  2005.0        NaN       NaN   NaN
328     graphs (gset)/G9.txt    800  19176  2054.0        NaN       NaN   NaN

      Heuristic
           #ops       time #sols     prec.
0            28   0.000007     1  1.000000
1            28   0.000008     1  1.000000
2            29   0.000009     1  1.000000
3            29   0.000008     1  1.000000
4            53   0.000009     1  1.000000
..          ...        ...   ...       ...
324     6224765   0.143155     1  0.132104
325  1324406540  25.946424     1  0.869565
326  1324879857  26.921012     1  0.516985
327     6223580   0.144396     1  0.170574
328     6228653   0.140115     1  0.209834

[329 rows x 11 columns]

In [79]:
dfE.to_excel("results02.xlsx")